// Variaveis
$corTextoMenu : gray;
$bordaMenu : 2px solid #80808036;

// All
*{
	box-sizing: border-box;
}

// NavBar
.menu{
	border-bottom: $bordaMenu;
	line-height: 43px;
	height: 60px;
	a{
		color: $corTextoMenu;
	}
}

// Conteudo

#conteudo{
	margin-top: 50px;
	h1{
		font-weight: 400;
	}
}

.container{
	box-sizing: border-box;
	img{
		border-radius: 15px;
	}
	.categoria-sm{
		position: relative;
		width: 253px;
		height: 367px;
		margin: 10px 15px 10px 15px;
		color: $corTextoMenu;
		border-radius: 10px;
	}

	.categoria-bg{
		position: relative;
		width: 556px;
		height: 270px;
		margin: 15px;
		color: $corTextoMenu;
	}
	#cat-1, #cat-2{
		position: relative;
		right: 1em;
	}

	#cat-3{
		position: relative;
		right: 0.5em;
	}

	#cat-5{
		right: -0.5em;
	}
}
// Footer
footer{
	position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
	line-height: 60px;
	border-top: $bordaMenu;
}
